<!DOCTYPE html>
<html>
<head>
    <title>Sistema de Leituras</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Bem-vindo ao Sistema de Leituras</h1>

    <h2>Usuários:</h2>
    <ul>
        {% for usuario in usuarios %}
            <li>
                <a href="{{ url_for('dashboard_usuario', usuario_id=usuario.id) }}">
                    {{ usuario.nome }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>Adicionar Novo Usuário:</h2>
    <form action="{{ url_for('adicionar_usuario') }}" method="post">
        <label for="nome">Nome:</label>
        <input type="text" id="nome" name="nome" required>
        <button type="submit">Adicionar</button>
    </form>
</body>
</html>
